<table>
<table border='1'>
	<tr>
	<th colspan="5"><h1>Student List</h1></th></tr>
	<th>name:</th>
	<th>first_name</th>
	<th>email</th>
	<th>phone</th>
	<th>Options</th>


	
	
	</tr>
	<!--{% for x in student %}-->
<!--{% endfor %}-->
	
	{% for x in object_list %}
		<tr>
		<td>{{x.user.username}}</td>
		<td>{{x.user.first_name}}</td>
		<td>{{x.user.email}}</td>
		<td>{{x.cus_phone}}</td>
		<td><a href="{% url 'admindelete' x.id %}"><button type="button">Delete</button></td>
		
	
		</tr>
	{% endfor %}
	

</table>

